
.div-predcition {
  background-color: #fae3f1;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
}
.div-Round {
  height: 75px;
  width: 75px;
  background-color: #72b9f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: brown;
}
.div-Round-pending {
  height: 50px;
  width: 50px;
  background-color: #fae3f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: brown;
}
.div-brown-font {
    color: brown;
}

.div-whitebg {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}
.div-contentCenter
  {
    display: flex;
    align-items: center;
    justify-content: center;

  } 
  .div-lightBoarder{
  border-width:2px;
  border-style:solid;
  border-radius: 10px;
  border-color:rgb(202, 199, 199);
  padding: 5px;
  margin: 5px;
  }
  .div-grayfill{
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(202, 199, 199);
    
    }
  .div-graygapfill{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(202, 199, 199);
  }  
  .div-background{
    position:absolute;
    left:0;
    right:0; 
    zoom: .9;
  }  

h3 {
  color: #000000;
 }
 h4 {
  color: #000000;
 }
 body{
margin: 0;
 }


